<system.identityModel.services>
  <federationConfiguration>

    <wsFederation passiveRedirectEnabled="true" 
                  issuer="https://ssimlogin-int.accesscontrol.windows.net/v2/wsfederation" 
                  realm="https://as.local/" 
                  requireHttps="false" />

  </federationConfiguration>
</system.identityModel.services>