<system.identityModel>
  <identityConfiguration>

    <audienceUris>
      <add value="https://as.local/" />
    </audienceUris>
    
    <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
      <authority name="https://ssimlogin-int.accesscontrol.windows.net/">
        <keys>
          <add thumbprint="A39ADAE005724BB2F6604B0A5C34E2A92A5229A3" />
        </keys>
        <validIssuers>
          <add name="https://ssimlogin-int.accesscontrol.windows.net/" />
        </validIssuers>
      </authority>
    </issuerNameRegistry>
 
    <!--certificationValidationMode set to "None" by the the Identity and Access Tool for Visual Studio. For development purposes.-->
    <certificateValidation certificateValidationMode="None" />

    <securityTokenHandlers>
      <add type="System.IdentityModel.Tokens.JwtSecurityTokenHandler, System.IdentityModel.Tokens.Jwt" />

      <!-- machine key for session protection -->
      <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </securityTokenHandlers>

  </identityConfiguration>
</system.identityModel>